<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
<h1>Course Details</h1>
<div>
	<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" ng-src="{{course.youtube}}"></iframe>
</div>
</div>

<div class="container col-xs-12 col-md-12 col-xs-offset-3 col-md-offset-3">
    <div class="row col-xs 12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                
                <div class="info">
                  <div ng-show="!edit">
                    <h4 class="text-center" ng-click = "edit = true">{{course.title}}</h4>
                  </div>
                  <div ng-show = "edit">
                    <input ng-model = "course.title">
                    <button ng-model = "course.title" ng-click="edit= false">Save</button>
                  </div>
                    <p>Language: {{course.language}}
                      <br>
                      Difficulty: {{course.difficulty}}
                    </p>
                    <p>Description:
                      <br>
                      {{course.description}}</p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container col-xs-7 col-md-7" id = "viewComments">
<div class="row">
<div class="col-sm-12">
<h3>Comments</h3>
</div>
</div>
<div class="row" ng-repeat = "comment in comments">
<div class="col-sm-2">
<div class="thumbnail">
<img gravatar-src = "'{{comment.email}}'" gravatar-size = "85">
</div>
</div>

<div class="col-sm-8">
<div class="panel panel-default">
<div class="panel-heading">
<a href = "/#/users/{{comment.UID}}"><strong>{{comment.name}}</strong></a> <span class="text-muted">Posted: {{comment.created_at | date:'yyyy-MM-dd'}}</span>
<span><rating ng-model="comment.rate" max="5" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating></span>
</div>
<div class="panel-body">
{{comment.post}}
<br>
<span><a href = "/#/courses/{{comment.course_id}}">View Course</a></span>
<span class = "glyphicon glyphicon-remove"  ng-show="isAdmin()" ng-click= "deleteComment(comment._id, $index)"></span>
</br>

<div class="row .col-md-offset-2" ng-repeat = "n in allReplies | filter:{ comment_id: comment._id}">
<div class="col-sm-2">
<div class="thumbnail">
<img gravatar-src = "'{{n.email}}'" gravatar-size = "50">
</div>
</div>

<div class="col-sm-8">
<div class="panel panel-default">
<div class="panel-heading">
<a href = "/#/users/{{n.UID}}"><strong>{{n.name}}</strong></a> <span class="text-muted">Posted: {{n.created_at | date:'yyyy-MM-dd'}}</span>
</div>
<div class="panel-body">
{{n.post}}
<br>
</div>

</div>
</div>
</div>

<form class="form-horizontal" ng-submit = "postReply(comment._id, commentReply)">
  <fieldset>
    <div class="form-group">
      <label for="test" class="col-lg-2 control-label">Reply</label>
      <div class="col-lg-10">
        <input ng-model = "commentReply"  type="text"  class="form-control" id="test" placeholder="Reply" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Reply</button>
      </div>
    </div>
  </fieldset>
</form>

</div>

</div>
</div>


</div>

</div>

<div class="container col-xs-5 col-md-5">
<form class="form-horizontal" ng-submit = "postComment()">
</br>

  <fieldset>
    <legend>Post Comment</legend>
    <div class="form-group">
      <label for="inputComment" class="col-lg-2 control-label">Comment</label>
      <div class="col-lg-10">
        <input type="text" ng-model = "newComment.post" class="form-control" id="inputComment" placeholder="Enter Comment" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Rating</label>
      <div class="col-lg-10">
        <span ng-init = "newComment.rate = 1"><rating ng-model="newComment.rate" max="5" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null" required></rating></span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
    </div>
      </div>
    </div>
